@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --color-primary: #03484D;
  --colo-secondary: #14B1F0;
  --font-sans: "Century Gothic", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;

  }
}


/* slider  */
.swiper-pagination {
          bottom: 16px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
        }
        .swiper-pagination-bullet {
          background: #AA9393 !important;
         width: 28px !important;
          height: 10px !important;
          opacity: 1 !important;
          border-radius: 9999px !important;
          transition: all 0.3s ease !important;
          margin: 0 !important;
        }
        .swiper-pagination-bullet-active {
          background: #0E3B3E !important;
          width: 28px !important;
          height: 10px !important;
          border-radius: 6px !important;
        }

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-sans);
}