@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --color-primary: #03484D;
  --colo-secondary: #14B1F0;
  --font-sans: "Century Gothic", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;

  }
}


body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-sans);
}